{% extends 'sanidad/base.html' %}
{% block title %}
{% if object.pk %}
EMPRESA {{ object.name }}
{% else %}
RESGISTRO
{% endif %}
{% endblock %}
{% block sidebar %}
{% include 'sidebar/sanidad.html' %}
{% endblock sidebar %}
{% block pageheader %}
<a href="{% url 'sanidad:home' %}">Sanidad</a> / <a href="{% url 'sanidad:company_list'  %}">Empresas</a> / <a href="{% url 'sanidad:company_detail' company.pk %}">{{ company.name }}</a> / {% if edit %} {{ object.get_full_name }} {% else %} Persona {% endif %}
{% endblock %}


{% block context %}
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-header">
        <a href="javascript:history.back()" class="btn btn-rounded btn-primary">Regresar <i class="fas fa-reply"></i></a>
      </div>
      {% if not edit %}
      <h2 class="pt-4 pl-4">Buscar Persona</h2>
      <hr>
      <div class="card-body">
        <form action="" method="get" id="form_account">
          <div class="form-group">
            <label for="">Ingrese Documento De La Persona</label>
            <input type="search" placeholder="" class="form-control" name="search">
            <div class="text-center mt-1">
              <button type="submit" class="btn btn-info btn-rounded">Buscar <i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        {% if message %}
        <h3 class="text-danger">{{ message }}</h3>
        {% else %}
        {% if account %}
        <h1> {{ message }} </h1>
        <div class="row text-center mt-5">
          <div class="col-sm-12">
            <label class="h5">
              <b>Documento:</b>
            </label>
            <span class="h5"> {{ account.get_document }}</span>
          </div>
          <div class="col-sm-12">
            <label class="h5">
              <b>Nombre y Apellido:</b>
            </label>
            <span class="h5"> {{ account.get_full_name }}</span>
          </div>
          <div class="col-sm-12">
            <label class="h5">
              <b>Telefono</b>
            </label>
            <span class="h5"> {{ account.tlf }}</span>
          </div>
          <div class="col-sm-12">
            <form action="" method="post">
              {% csrf_token %}
              <input type="text" hidden value="{{ account.pk }}" name="add">
              <button type="submit" class="btn btn-success btn-rounded">
                Añadir
                <i class="fas fa-plus"></i>
              </button>
            </form>
          </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
      <hr>
      {% endif %}
      <h2 class="pt-4 pl-4">{% if edit %} Actualizar {% else %} Registrar {% endif %}Persona</h2>
      <hr>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
          {% if field.errors %}
          <div class="form-group">
            <div class="alert alert-danger" role="alert">
              {{ field.label }}:
              {% for error in field.errors %}
              {{ error }}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% if message %}
          <div class="form-group">
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
          {% endif %}
          <div class="row">
            {% for i in form %}
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="id_{{ i.name }}" class="col-form-label">{{ i.label }}</label>
                {{ i }}
              </div>
            </div>
            {% endfor %}
            {% if edit %}
            <div class="col-sm-12">
              <div class="form-group">
                <label for="id_password" class="col-form-label text-danger">Ingrese La Contraseña {{ request.user.get_full_name }} Para Poder Actualizar Estos Datos</label>
                <input type="password" class="form-control" name="password" required autocomplete="off">
              </div>
            </div>
            {% endif %}
          </div>
          <div class="form-group text-center">
            <br>
            <button type="submit" class="btn btn-rounded btn-success">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
