{% extends 'sanidad/base.html' %}
{% block title %}
{% if object.pk %}
EMPRESA {{ object.name }}
{% else %}
RESGISTRO
{% endif %}
{% endblock %}
{% block sidebar %}
{% include 'sidebar/sanidad.html' %}
{% endblock sidebar %}
{% block pageheader %}
<a href="{% url 'sanidad:home' %}">Sanidad</a> / Inspección /
{% if object.pk %} Actualización {% else %} Añadir {% endif %}
{% endblock pageheader %}


{% block context %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <a href="javascript:history.back()" class="btn btn-rounded btn-primary">Regresar <i
                        class="fas fa-reply"></i></a>
            </div>
            
            <div class="text-center {% if data %} pl-5 pr-5 pt-5 {% else %} p-5 {% endif %}">
                <form action="" method="get">
                    <div class="form-group">
                        <label for="id_q" class="text-danger h4">Busque Por Rif o Nombre De La Empresa o Cedula de la Persona</label>
                        <div class="input-group mb-3">
                            <input type="search" id="id_q" name="q" class="form-control text-center" value="{{ request.GET.q }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center">
                <h2 class="text-danger">{{ message }}</h2>
            </div>
            {% if data %}
            <div class="card-body">
                {% if data_type == "company"%}
                    <h4>
                        <b>Rif: </b>{{ data.get_document }}
                        <b>Empresa: </b>{{ data.name }}
                    </h4>
                {% endif %}
                {% if data_type == "driver"%}
                    <h4>
                        <b>Documento: </b>{{ data.get_document }}
                        <b>Nombre: </b>{{ data.get_full_name }}
                    </h4>
                {% endif %}
                <hr>
                <form action="" method="post" id="id_form_inspection">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="{{ data.pk }}">
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            {{ field.label }}:
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="row">
                        <input type="hidden" value="{{company}}" name="company" id="id_company">
                        {% for i in form %}
                        <div
                            class="{% if i.name == 'name' or i.name == 'address' %} col-md-12 {% else %} col-md-6 {% endif %}col-sm-12">
                            <div class="form-group">
                                <label for="id_{{ i.name }}" class="col-form-label"><b>{{ i.label }}</b></label>
                                {{ i }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-group text-center">
                        <br>
                        <button type="submit" class="btn btn-rounded btn-success">Aceptar</button>
                    </div>

                </form>
            </div>
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}
