{% extends 'sanidad/base.html' %}
{% block title %}
{% if object.pk %}
EMPRESA {{ object.name }}
{% else %}
RESGISTRO
{% endif %}
{% endblock %}


{% block pageheader %}
<a href="{% url 'sanidad:home' %}">Sanidad</a> / <a href="{% url 'sanidad:company_list'  %}">Empresas</a> / <a
    href="{% url 'sanidad:company_detail' company.pk %}">{{ company.name }}</a> / {% if edit %}
{{ object.get_full_name }} {% else %} Transporte {% if type_transport == 'land' %} Terrestre {% else %} Maritimo {% endif %} {% endif %}
{% endblock %}


{% block context %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <a href="javascript:history.back()" class="btn btn-rounded btn-primary">
                    Regresar 
                    <i class="fas fa-reply"></i>
                </a>
            </div>
            <div class="card-body">
                <form action="" method="post" id="form_transport">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            {{ field.label }}:
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if message %}
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        {% for i in form %}
                        <div class="{% if i.name == 'address' %} col-md-12 {% else %} col-md-6 {% endif %}col-sm-12">
                            <div class="form-group">
                                <label for="id_{{ i.name }}" class="col-form-label">{{ i.label }}</label>
                                {{ i }}
                            </div>
                        </div>
                        {% endfor %}
                        {% if edit %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_password" class="col-form-label text-danger">Ingrese La Contraseña
                                    {{ request.user.get_full_name }} Para Poder Actualizar Estos Datos</label>
                                <input type="password" class="form-control" name="password" required autocomplete="off">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group text-center">
                        <br>
                        <button type="submit" class="btn btn-rounded btn-success">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
