Django==2.1
https://github.com/darklow/django-suit/tarball/v2
bpython==0.17.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
django-extensions==2.1.0
django-widget-tweaks==1.4.3
django-simple-history==2.7.0
fpdf==1.7.2
django-cors-headers==2.5.2
gunicorn==19.9.0
gevent==1.4.0
channels==2.2.0
channels-redis==2.4.0
uvicorn==0.7.1
openpyxl==2.6.2
isoweek==1.3.3

# espresar unidades en la capacidad del carro 
# preguntar bien los utm
#preguntar estandar en la inspeccion de la laguna
#corregir al añadir un usuario existe en la compañia mme da error cuando existe uni


# x = time
# y = number of data 
# de como fue las inspecciones mensuales
# 


# as user watn  singn one user and logout user
# añadir validacion del user

# cada cierto tiempor elimanara los backup anteriores
# y tener un limite  
