Django==2.1
https://github.com/darklow/django-suit/tarball/v2
bpython==0.17.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
django-extensions==2.1.0
django-widget-tweaks==1.4.3
django-simple-history==2.7.0
fpdf==1.7.2



#corregir al añadir un usuario existe en la compañia mme da error cuando existe uni


# x = time
# y = number of data 
# de como fue las inspecciones mensuales
# 
