<li class="nav-item">
	<a class="nav-link" href="{% url 'authentication:list' %}"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#"><i class="fas fa-file-pdf"></i>Reportes</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#"><i class="fas fa-cog"></i>Configuracion</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-power-off "></i>Cerrar Sesión</a>
</li>
<!-- <li class="nav-divider">
	Features
</li> -->