<li class="nav-divider text-center" style="font-size: 34px; color: #fff; letter-spacing: 5px;">
    INSOFESH
</li>
<li class="nav-divider">
    Menu
</li>
<li class="nav-item">
    <a class="nav-link" href="/"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
</li>

{% if request.user.is_superuser  or request.user.role  == 'is_coordinator' %}
{% include 'sidebar/authentication.html' %}
{% endif %}

{% if request.user.level == 'is_acuicul' or request.user.is_superuser or request.user.role == 'is_coordinator'%}
{% include 'sidebar/acuicultura.html' %}
{% endif %}

{% if request.user.level == 'is_sanid' or request.user.is_superuser or request.user.role == 'is_coordinator' %}
{% include 'sidebar/sanidad.html' %}
{% endif %}


{% if request.user.is_superuser or request.user.role  == 'is_coordinator' %}
<li class="nav-divider">
    Opciones
</li>
{% endif %}

<li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1"
        aria-controle s="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Configuración <span
            class="badge badge-success">6</span></a>
    <div id="submenu-1" class="collapse submenu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authentication:change_password' %}">Cambio De Contraseña</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authentication:bd_user' %}">Base De Datos</a>
            </li>
            {% endif %}
        </ul>
    </div>
</li>

{% if request.user.is_superuser %}
<li class="nav-item">
    <a class="nav-link" href="/admin/"><i class="fas fa-power-off "></i>Ir Al Amdinistrador</a>
</li>
{% endif %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
        <i class="fas fa-power-off "></i>
        Cerrar Sesión
    </a>
</li>
<br><br><br>
