{% if request.user.is_superuser or request.user.role == 'is_coordinator'%}
<li class="nav-divider">
  Sanidad
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'sanidad:type_company' %}"><i class="fa fa-fw fa-circle"></i>Tipo De Compañias</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sanidad:company_list' %}"><i class="fa fa-fw fa-circle"></i>Empresas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sanidad:driver_list' %}"><i class="fa fa-fw fa-circle"></i>Conductores</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'sanidad:inspection_list' %}"><i class="fa fa-fw fa-circle"></i>Inpecciones</a>
</li>


<li class="nav-item ">
  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-21"
    aria-controls="submenu-21">
    <i class="fas fa-file-pdf"></i>
    Consultas
  </a>
  <div id="submenu-21" class="collapse submenu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sanidad:report_views' %}">Inspecciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sanidad:reports_sanidad' tip='company' %}">Compañia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sanidad:reports_sanidad' tip='driver' %}">Conductor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sanidad:home_grapich' %}">Graficas</a>
      </li>
    </ul>
  </div>
</li>
