{% extends 'base_home.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
Recuperar Contraseña
{% endblock%}

{% block context %}

<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
  <div class="card ">
    <div class="card-header text-center">
      <a href="/">
        <img class="logo-img" src="{% static 'assets/images/logo1.png' %}" alt="logo" height="150">
      </a>
    </div>
    <div class="card-body">
      <form method="post"> {% csrf_token %}
        {% if message %}
        <div class="form-group text-center">
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        </div>
        {% endif %}
        <div class="form-group">
          {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Recuperar</button>
      </form>
    </div>
    <div class="card-footer bg-white p-0 text-center ">
      <div class="card-footer-item card-footer-item-bordered">
        <a href="{% url 'login' %}" class="footer-link">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->

{% endblock %}
