{% extends 'base_home.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
Iniciar Sesión
{% endblock%}
{% block context %}

<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
	<div class="card ">
		<div class="card-header text-center">
			<a href="/">
				<img class="logo-img" src="{% static 'assets/images/logo1.png' %}" alt="logo" height="150">
			</a>
		</div>
		<div class="card-body">
			<form method="post"> {% csrf_token %}
				{% if message %}
					<div class="form-group text-center">
						<div class="alert alert-danger" role="alert">
								{{ message }}
						</div>
					</div>
				{% endif %}
				<div class="form-group">
					{{ form.username|add_class:"form-control form-control-lg"|attr:"autofocus"|attr:"title:Escriba Su Correo"|attr:"autocomplete:off"|attr:"placeholder:Correo Electronico" }}
				</div>
				<div class="form-group">
					{{ form.password|add_class:"form-control form-control-lg"|attr:"title:Escriba Su Contraseña"|attr:"autocomplete:off"|attr:"placeholder:Contraseña" }}
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
			</form>
		</div>
		<div class="card-footer bg-white p-0 text-center ">
			<div class="card-footer-item card-footer-item-bordered">
				<a href="{% url 'forgot_password' %}" class="footer-link">Olvido Su Contraseña</a>
			</div>
		</div>
	</div>
</div>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->

{% endblock %}
