{% extends 'base.html' %}
<!-- nombre del sistema -->
<!-- datos del programadores name email phone  -->

{% block title %} Ayuda {% endblock %}



{% block pageheader %}
Ayuda
{% endblock pageheader %}


{% block context %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="javascript:window.history.back()" class="btn btn-rounded btn-primary">
                    Regresar
                    <i class="fas fa-reply"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h1 class="text-primary" style="letter-spacing: 2px;font-size: 50px;">INSOFESH</h1>
                        </div>
                    </div>
                    <div class="col-12 ml-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Nombre:</b>
                                </label>
                                <span class="h5">Ramón Sánches</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Telefóno:</b>
                                </label>
                                <span class="h5">0424-5024077</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Correo Electronico:</b>
                                </label>
                                <span class="h5">r.a.s.g65@gmail.com</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Link:</b>
                                </label>
                                <span class="h5">
                                    <a href="https://about.me/juniorsanchez"  target="_blank">
                                        https://about.me/juniorsanchez
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5 ml-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Nombre:</b>
                                </label>
                                <span class="h5">Jesus Baptista</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Telefóno:</b>
                                </label>
                                <span class="h5">No Posee</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Correo Electronico:</b>
                                </label>
                                <span class="h5">jesus_adolfo-lozada@hotmail.com</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="h5">
                                    <b>Link:</b>
                                </label>
                                <span class="h5">
                                    <a href="https://www.facebook.com/jesus.baptista.79"  target="_blank">
                                        https://www.facebook.com/jesus.baptista.79
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
