{% extends 'base.html' %}
{% block title %} Detalles {% endblock %}
{% block sidebar %}
{% include 'sidebar/acuicultura.html' %}
{% endblock sidebar %}
{% block pageheader %}
Laguna / Detalle / {{ object.pk }} /
{% endblock pageheader %}
{% block context %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<a href="javascript:window.history.back()" class="btn btn-rounded btn-primary">Regresar <i
						class="fas fa-reply"></i></a>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Unidad Productora:</b>
						</label>
						<span class="h5">{{object.producion_unit.name}}</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Tipo de Cultivo:</b>
						</label>
						<span class="h5">{{ object.sistem_cultivate|title }}</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Ancho de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_diameter }}m</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Largo de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_deepth }}m</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="section-title text-primary" >Especies en la laguna</h3>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<th>Nombre</th>
						<th>Cantidad</th>
					</thead>
					<tbody>
						{% for specie in species %}
						<tr>
							<td>{{ specie }}</td>
							<td>{{ specie.number_specie }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td align="right">
								<label class="h4 text-info">Total De Especie:</label>
							</td>
							<td>
								<label class="h4"><b>{{ total_number_species.total__sum }}</b></label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<span class="h4 text-primary"><b>Comida</b></span>
			</div>
			<div class="card-body">
				<h3>Densidad de Animales</h3>
				<div class="col-sm-12 mb-4">
					<label class="h5">
						<b>1 ( Pez ) x {{square_meter}}m<sup>2</sup>: </b>
					</label>
					<span class="h5"> {{square_meter}} Alubines</span>
				</div>
			</div>
			<hr>
			<div class="card-body">
				<h3>Calculo del Alimento</h3>
				<div class="col-sm-12 mb-4">
					<label class="h5">
						<b>{{square_meter}} Alubines x 1,5 Kg:</b>
					</label>
					<span class="h5">{{food}} Kg / 25 = {{food_sacks}} Sacos de Alimento</span>
				</div>
			</div>
			<hr>
			<div class="card-body">
				<h3>Proporción</h3>
				<div class="col-sm-12 mb-4">
					<label class="h5">
						<b>{{food_sacks}} Sacos de Alimento * 60% /100 =</b>
					</label>
					<span class="h5"> {{percentage_60}}</span>
				</div>
				<div class="col-sm-12 mb-4">
					<label class="h5">
						<b>{{food_sacks}} Sacos de Alimento * 40% /100=</b>
					</label>
					<span class="h5"> {{percentage_40}} </span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
