{% extends 'base.html' %}
{% block title %} Detalles {% endblock %}
{% block sidebar %}
{% include 'sidebar/acuicultura.html' %}
{% endblock sidebar %}
{% block pageheader %}
Laguna / Detalle / {{ object.pk }} /
{% endblock pageheader %}
{% block context %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<a href="javascript:window.history.back()" class="btn btn-rounded btn-primary">
					Regresar 
					<i class="fas fa-reply"></i>
				</a>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Unidad Productora:</b>
						</label>
						<span class="h5">{{object.producion_unit.name}}</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Tipo de Cultivo:</b>
						</label>
						<span class="h5">{{ object.sistem_cultivate|title }}</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Ancho de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_diameter }}m</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Largo de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_deepth }}m</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Alto de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_height }}m</span>
					</div>
					<div class="col-sm-6 mb-4">
						<label class="h5">
							<b>Tipo de la Laguna:</b>
						</label>
						<span class="h5">{{ object.lagoon_type|title }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="section-title text-primary" >Especies en la laguna</h3>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<th>Nombre</th>
						<th>Cantidad</th>
					</thead>
					<tbody>
						{% for specie in species %}
						<tr>
							<td>{{ specie }}</td>
							<td>{{ specie.number_specie }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td align="right">
								<label class="h4 text-info">Total De Especie:</label>
							</td>
							<td>
								<label class="h4"><b>{{ total_number_species }}</b></label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<span class="h4 text-primary"><b>Comida</b></span>
			</div>
			<div class="card-body">
				<h3>Densidad de Animales</h3>
				<div class="col-sm-12 mb-1">
					<p class="h5">
						<b>
							Area 
							<span class="h6">
								<b>(ancho*largo)</b>
							</span>
						</b>
						: {{ densidad.area }} m<sup>2</sup>
					</p>
					<p class="h5">
						<b>
							Alevino
							<span class="h6">
								<b>(peces*area)</b>
							</span>
						</b>
						: {{ densidad.alevino }} alevino
					</p>
				</div>
			</div>
			<hr>
			<div class="card-body">
				<h3>Calculo del Alimento</h3>
				<div class="col-sm-12 mb-1">
					<p class="h5">
						<b>
							Comida
							<span class="h6"> 
								<b>(alevino*1.5)</b>
							</span>
						</b>
						: {{ calculo.food }} kg
					</p>
					<p class="h5">
						<b>
							Sacos de Comida
							<span class="h6"> 
								<b>(comida/25)</b>
							</span>
						</b>
						: {{ calculo.food_sacks }} kg
					</p>
				</div>
			</div>
			<hr>
			<div class="card-body">
				<h3>Proporción De la Comida</h3>
				<div class="col-sm-12 mb-1">
					<p class="h5">
						<b>
							Al 60%
							<span class="h6">
								<b>(saco de comida*0.6)</b>
							</span>
						</b>
						: {{ percen.percentage_60 }} kg
					</p>
					<p class="h5">
						<b>
							Al 40%
							<span class="h6">
								<b>(saco de comida*0.4)</b>
							</span>
						</b>
						: {{ percen.percentage_40 }} kg
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
