{% extends 'base.html' %}
{% block title %} ACUICULTURA {% endblock %}


{% block sidebar %}
{% include 'sidebar/acuicultura.html' %}
{% endblock sidebar %}
{% block pageheader %}
Unidades Productoras
{% endblock pageheader %}

{% block context %}
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<a href="{% url 'acuicultura:create_unit' %}" class="btn btn-rounded btn-primary">Nueva Unidades Productoras <i class="fas fa-building"></i></a>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="bg-light">
							<tr>
								<th>#</th>
								<th>Rif</th>
                                <th>Nombre</th>
                                <th>Telefono Fijo</th>
                                <th>Telefono Movil</th>
								<th>Operativo</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							{% for object in object_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
                                <td>{{ object.document }}</td>
								<td>{{ object.name }}</td>
                                <td>{{object.landline}}</td>
                                <td>{{object.phone}}</td>

                                <td>
									{% if object.is_active %}
									<span class="badge badge-success">Activo</span>
									{% else %}
									<span class="badge badge-danger">Inactivo</span>
									{% endif %}
								</td>
								<td>
									<a href="{% url 'acuicultura:detail_unit' object.pk %}" class="btn btn-rounded btn-secondary"><i class="fas fa-eye"></i></a>
								</td>
							</tr>
							{% empty %}

							<tr>
								<td></td>
								<td>No</td>
								<td>Hay</td>
								<td>Registros</td>
								<td>En</td>
								<td>Esto</td>
								<td>Momento</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}