{% extends 'base.html' %}

{% block title %}
UNIDAD PRODUCTORA
{% endblock %}


{% block pageheader %}
UNIDAD PRODUCTORA
<hr>
{% endblock pageheader %}

{% block context %}
<div class="row">
    <div class="col-12">
        {% if msg %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <a href="javascript:window.history.back()" class="btn btn-rounded btn-primary">
                    Regresar
                    <i class="fas fa-reply"></i>
                </a>
            </div>
            <div class="card-body">
                <form action="" method="get" id="id_report_unit">
                    <input type="hidden" name="valid" id="id_valid">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center mb-4">
                                <label class="h3 text-primary">
                                    Reportes De Seguimiento - Unidad Productora
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mx-sm-3 mb-3 text">
                                        <label for="id_type" class="pr-2"><b>Por:</b></label>
                                        <select name="type" id="id_type" class="form-control show-tick" required>
                                            <option value="">-------</option>
                                            <option value="individual_unit">Indiviual</option>
                                            <option value="all_unit">Todos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mx-sm-3 mb-3 text">
                                        <select name="document" id="id_document" class="form-control show-tick"
                                            required>
                                            <option value="">-------</option>
                                            {% for i in unit %}
                                            <option value="{{ i.pk }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group mx-sm-3 mb-3 text">
                                <label for="id_date_range1" class="pr-2"><b>Por Fecha:</b></label>
                                <div class="input-group input-daterange" style="padding: 8px 0;">
                                    <input type="text" class="form-control" name="date_range1" id="id_date_range1"
                                        readonly disabled>
                                    <div class="input-group-addon" style="padding: 5px 10px;">a</div>
                                    <input type="text" class="form-control" name="date_range2" id="id_date_range2"
                                        readonly disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 offset-md-4 mt-5">
                            <div class="form-group mx-sm-3 mb-3 text-center">
                                <button type="search" class="btn btn-success btn-block">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {% for i in all %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="media influencer-profile-data d-flex align-items-center p-2">
                                    <div class="mr-4">
                                        <h1
                                            style="border: 3px solid #5969ff !important;border-radius: 100%; color: #2b3590 !important;     padding: 0px 15px;">
                                            {{ forloop.counter }}</h1>
                                    </div>
                                    <div class="media-body ">
                                        <div class="influencer-profile-data">
                                            <h3 class="m-b-10">{{i.name}}</h3>
                                            <p>
                                                <span class="m-r-20 d-inline-block"> Telefono
                                                    <span class="m-l-10 text-secondary">{{i.tlf}}</span>
                                                </span>
                                                <span class="m-r-20 d-inline-block">Activo <span
                                                        class="m-l-10  text-info">
                                                        {% if i.is_active == True  %}
                                                        Si
                                                        {% else %}
                                                        No
                                                        {% endif %}
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top card-footer p-0">
                        <div class="campaign-metrics d-xl-inline-block">
                            <h4 class="mb-0 ">{{i.state}}</h4>
                            <p>Estado</p>
                        </div>
                        <div class="campaign-metrics d-xl-inline-block">
                            <h4 class="mb-0">{{i.municipality}}</h4>
                            <p>Municipio</p>
                        </div>
                        <div class="campaign-metrics d-xl-inline-block">
                            <h4 class="mb-0 ">{{i.parish}}</h4>
                            <p>Parroquia</p>
                        </div>
                        <div class="campaign-metrics d-xl-inline-block">
                            <h4 class="mb-0 ">{{i.address}}</h4>
                            <p>Dirección</p>

                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-4 col-sm-12 offset-md-4 mt-4">
                            <div class="form-group mx-sm-3 mb-3 text-center">
                                <a href="{% url 'reports:sanidad_individual' %}?type={{ request.GET.type }}&document={{request.GET.document}}&date1={{ request.GET.date_range1 }}&date2={{ request.GET.date_range2 }}&valid={{request.GET.valid}}"
                                    class="btn btn-lg btn-success btn-block" target="_blank">
                                    <i class="far fa-file-pdf"></i>
                                    Generar Resporte
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
