{% extends 'base.html' %}
{% block title %} {{ object.name|upper }} {% endblock %}
{% block sidebar %}
{% include 'sidebar/acuicultura.html' %}
{% endblock sidebar %}
{% block pageheader %}
{{ object.name }}
{% endblock pageheader %}

{% block context %}
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<span class="h4 text-primary"><b>Seguiemiento  realizado a : {{object.producion_unit.name}}</b></span>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Numero de Pozos Actuales:</b>
						</label>
						<span class="h5">{{ object.number_well }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Numero de Pozos Nuevos:</b>
						</label>
						<span class="h5">{{ object.new_number_well }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Numero de Lagunas Actuales:</b>
						</label>
						<span class="h5">{{ object.number_lagoon }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Numero de Lagunas Nuevas:</b>
						</label>
						<span class="h5">{{ object.new_number_lagoon }}</span>
					</div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-sm-6 mb-3">
                            <a href="{% url 'acuicultura:delete_tracing' object.pk %}" class="btn btn-rounded btn-danger" id="tracing_detail_delete">
                                <i class="fas fa-user-times"></i>
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
   
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header clearfix">
                        <span class="h4 text-primary"><b>Pozos</b></span>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Nro Seguimiento</th>
                                        <th>Diametro</th>
                                        <th>Profundidad</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for wells in well_tracing %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <th>{{wells.tracing.pk}}</th>
                                        <td>{{ wells.well.well_diameter }}m<sup>2</sup></td>
                                        <td>{{ wells.well.well_deepth }}m<sup>2</sup></td>
										<td>
                                            <a href="{% url 'acuicultura:well_detail' wells.well.pk %}" class="btn btn-rounded btn-secondary">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
		<div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header clearfix">
                            <span class="h4 text-primary"><b>Lagunas</b></span>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Nro Seguimiento</th>
                                            <th>Tipo</th>
                                            <th>Ancho</th>
                                            <th>Largo</th>
                                            <th>Altura</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for tracings in lagoon_tracing %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <th>{{tracings.tracing.pk}}</th>
                                            <td>{{ tracings.lagoon.lagoon_type|title }}</td>
                                            <td>{{ tracings.lagoon.lagoon_diameter }}m<sup>2</sup></td>
                                            <td>{{ tracings.lagoon.lagoon_deepth }}m<sup>2</sup></td>
                                            <td>{{ tracings.lagoon.lagoon_height }}m<sup>2</sup></td>
                                            <td>
                                                <a href="{% url 'acuicultura:lagoon_detail' tracings.lagoon.pk %}" class="btn btn-rounded btn-secondary">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
