{% extends 'base.html' %}
{% block title %} {{ object.name|upper }} {% endblock %}
{% block sidebar %}
{% include 'sidebar/acuicultura.html' %}
{% endblock sidebar %}
{% block pageheader %}
Acuicultura / Unida Productora /{{ object.name }}
{% endblock pageheader %}

{% block context %}
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<span class="h4 text-primary"><b>Información Personal</b></span>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-12 mb-3">
						<label class="h5">
							<b>Nombre:</b>
						</label>
						<span class="h5">{{ object.name }}</span>
					</div>

					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Telefono Fijo:</b>
						</label>
						<span class="h5">{{ object.tlf_house }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Telefono Movil:</b>
						</label>
						<span class="h5">{{ object.tlf }}</span>
					</div>

				</div>
			</div>
			<hr>
			<div class="card-header">
				<span class="h4 text-primary"><b>Localización</b></span>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-6 mb-6">
						<label class="h5">
							<b>Municipio: </b>
						</label>
						<span class="h5">{{ object.municipality }}</span>
					</div>
					<div class="col-sm-5 mb-3">
						<label class="h5">
							<b>Parroquia: </b>
						</label>
						<span class="h5">{{ object.parish }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Estado: </b>
						</label>
						<span class="h5">{{ object.state }}</span>
					</div>
					<div class="col-sm-12 mb-3">
						<label class="h5">
							<b>Dirección: </b>
						</label>
						<span class="h5">{{ object.address }}</span>
					</div>
					<div class="card-body">
						<div class="row text-center">
							<div class="col-sm-6 mb-3">
								<a href="{% url 'acuicultura:update_unit' object.pk %} "
									class="btn btn-rounded btn-info">
									<i class="far fa-edit"></i>
									Actualizar
								</a>
							</div>
							<div class="col-sm-6 mb-3">
								<a href="{% url 'acuicultura:delete_unit' object.pk %}"
									class="btn btn-rounded btn-danger" id="btn_delete_unit">
									<i class="fas fa-user-times"></i>
									Eliminar
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<span class="h4 text-primary"><b>UMT</b></span>
			</div>
			<div class="card-body">
				<div class="row p-0">
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Norte:</b>
						</label>
						<span class="h5"> {{ cardinal.north }}</span>
					</div>
					

					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Este:</b>
						</label>
						<span class="h5"> {{ cardinal.west }}</span>
					</div>
					
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Altitud:</b>
						</label>
						<span class="h5"> {{ cardinal.altitude }}</span>
					</div>
					<div class="col-sm-6 mb-3">
						<label class="h5">
							<b>Total de Area del Terreno:</b>
						</label>
						<span class="h5"> {{ cardinal.total_area_terr }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<div class="card-header clearfix">
						<span class="h4 text-primary"><b>Representantes Legales </b></span>
						<!-- <a href="{% url 'acuicultura:repre_create' object.pk %}"
							class="btn btn-rounded btn-primary">Añadir Representate <i class="fas fa-user-plus"></i></a> -->
					</div>

					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="bg-light">
									<tr>
										<th>#</th>
										<th>Rif</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Estatus</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									{% for repre in representative %}

									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{repre.user.type_document}}-{{ repre.user.document }}</td>
										<td>{{ repre.user.name }}</td>
										<td>{{repre.user.last_name}}</td>
										{% if repre.user.is_active == True %}
										<td>
											<span class="badge badge-success">
												Activo
											</span>
										</td>
										{% else %}
										<td>
											<span class="badge badge-danger">
												Inactivo
											</span>
										</td>
										{% endif %}
										<td>
											<a href="{% url 'acuicultura:repre_detail' repre.user.pk %}"
												class="btn btn-rounded btn-secondary"><i class="fas fa-eye"></i></a>
										</td>
									</tr>
									{% empty %}
									<tr>
										<td colspan="5" class="text-center">
											<h1>No tiene Representante Asignado a la Empresa</h1>
											<a href="{% url 'acuicultura:repre_create' object.pk %}"
												class="btn btn-primary btn-rounded ">
												Añadir Representante
												<i class="fas fa-user-plus"></i>
											</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<div class="card-header clearfix">
						<span class="h4 text-primary"><b>Seguimientos </b></span>
						<a href="{% url 'acuicultura:create_tracing' object.pk %}"
							class="btn btn-rounded btn-primary">Nuevo Seguimiento <i class="fas fa-thumbtack"></i></a>
					</div>

					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="bg-light">
									<tr>
										<th>#</th>
										<th>Creada</th>
										<th>Lagunas Nuevas</th>
										<th>Pozos Nuevos</th>
										<th>Responsable</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>

									{% for tracings in tracing %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ tracings.created_at }}</td>
										<td>{{ tracings.new_number_lagoon }}</td>
										<td>{{ tracings.new_number_well }}</td>
										<td>{{tracings.responsible.name}} {{tracings.responsible.last_name}} </td>

										<td>
											<a href="{% url 'acuicultura:detail_tracing' tracings.pk %}"
												class="btn btn-rounded btn-secondary"><i class="fas fa-eye"></i></a>
										</td>
									</tr>
									{% empty %}
									<tr>
										<td colspan="6" class="text-center">
											<h1>No tiene Seguimientoss realizados a la Empresa</h1>
											<a href="{% url 'acuicultura:create_tracing' object.pk %}"
												class="btn btn-primary btn-rounded ">
												Añadir Seguimiento
												<i class="fas fa-thumbtack"></i>
											</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
