<div class="container" style="padding-left: 8%; width: 100%; padding-right: 8%;">
    <div class="card">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header text-center">
                    <h3 class="p-0 m-0 text-primary">Buscar Por Fecha</h3>
                </div>
                <div class="card-body">
                    <form action="" method="get" class="form-inline">
                        <div class="form-group mx-sm-3 mb-3 text">
                            <label for="id_date1" class="pr-2"><b>Desde:</b></label>
                            <input type="date" class="form-control" name="date1" id="id_date1" required>
                        </div>
                        <div class="form-group mx-sm-3 mb-3">
                            <label for="id_date2" class="pr-2"><b>Hasta:</b></label>
                            <input type="date" class="form-control" name="date2" id="id_date2" required>
                        </div>
                        <div class="form-group mx-sm-3 mb-3 text-center">
                            <button type="search" class="btn btn-success btn-block">Buscar</button>
                        </div>
                        {% if object_list %}
                        <div class="form-group mx-sm-3 mb-3 text-center">
                            <a href="{% url 'reports:sanidad_inspection_list' %}?date1={{ request.GET.date1 }}&date2={{ request.GET.date2 }}&type={{ type }}" class="btn btn-info btn-block" target="_blank">Generar Resporte</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
